*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    min-height: 11vh;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}

body> header.active {
    background-color:  #020508;

    box-shadow: 0 2px 10px rgba(203, 198, 201 , 0.3);
}

body > main{
    min-height: 150vh;
    background-color: rgb(228, 227, 227);
}
.conteiner-top{
    min-height: 100vh;
    padding-top: 11vh;
    background-image: url("../img/background.jpg");
}
.conteiner-top h1{
    padding-top: 30vh;
    text-align: center;
    color: #fff;
}
.conteiner-top h2{
    padding-top: 10vh;
    text-align: center;
    color: #fff;
}
body > footer{
    min-height: 11vh;
    background-color: teal;

}


/* Articulos */ 

.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em 0 1em 0;
    row-gap: 1em;
}
article{
    width: 45vw;
    border: 1px solid black;
    background-color: rgb(190, 189, 189);
    border-radius: 1em; 
    text-align: center;
    position: relative;
}
article:hover{ 
    box-shadow: 2px 2px 7px #5e5e5e; 
}
article header{ 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em; 
    padding: 3px;
}
article header h2{
    font-size: 20px;
    margin: 0;
    padding: 5px 5px 0 5px;
}
article main{
    margin: 10px;
    text-align: center;
}
article main p {
    padding-top: 10px;
}
/* .img_article{
    width: 95%;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0 auto;
} */
.img-article{
    width: 95%;
    height: 7em;
}
.img-article img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover; 
}

main p{
    text-align: start;
    padding-bottom: 25px;
}
article footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Modal */
.close{
    position: absolute;
    right: 5px;
    color: #fff;
}
.modal-content{
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgb(0,0,0,.1);
}
.modal{
    transition: .3s ease all;
    transform: scale(.5);
}
.show{
    transform: scale(1);

}




/* Cargar texto y textarea*/
.cargar{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.cargar p{
    text-align: center;
    text-decoration: underline;
}
.cargar textarea{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.cargar button{
    width: 160px;
    padding: 8px;
    align-self: center;
}

/* Footer */
footer{
    text-align: center;
}
footer p{
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0 5px;
}
.social{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    padding: 10px;
}
.social img{
    width: 30px;
    cursor: pointer;
}

/*Vista Tablets en vertical o Móviles en horizontal*/
@media (min-width: 768px){
    article{
        width: 22vw;
    }
}

/*Vista Dispositivos medianos o tablets en horizontal*/
@media (min-width: 992px){
    article{
        width: 18vw;
    }
}

/*Vista Dispositivos grandes con pantalla ancha*/
@media (min-width: 1200px) {

}
